<% layout('layouts/boilerplate')%>
<h1 class="ml-3">
       About me 
</h1>

<ul class="list-group " style="margin-top: 20px;" >
    <li class="list-group-item">Hi, I'm Sumit Patil</li>
    <li class="list-group-item">Currently, I am in the 2nd year in Computer Science at IIT Ropar  </li>
    <li class="list-group-item">I'm interested in Competitive Programming and Web Development</li>
    <li class="list-group-item">I'm currently learning ReactJs</li>
    <li class="list-group-item">Skills :  C, C++, JavaScript, HTML, CSS, Bootstrap, MongoDB, Mongoose, Express, React, Node</li>
    <li class="list-group-item">Key Courses Done :  Discrete Math, Algorithm & Data Structures, Digital Logic Design, Calculus, Differential Equations, Linear
        Algebra</li>
  </ul>