<% layout('layouts/boilerplate')%>
    <div class="row mt-3 ml-3">
        <div class="col-6 offset-0" style="width: 400px;">
            <h1 class="ml-3">
                Contact Me
            </h1>
        </div>

        <div class="card col-6 offset-0" style="width: 400px; max-height:500000px;">
            <img src="../../images/20220416_190101.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sumit Patil</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href='mailto:patilsumitpravinkumar@gmail.com' target="_blank">

                        Gmail</a></li>
                <li class="list-group-item"><a href="https://www.linkedin.com/in/sumit-patil-068b71226/" target="_blank">
                        Linkedin</a></li>
                <li class="list-group-item"><a href="https://www.instagram.com/_sumit_patil____/" target="_blank">
                        Instagram</a></li>
                <li class="list-group-item"><a href="https://www.facebook.com/profile.php?id=100076069834567" target="_blank">
                    Facebook</a></li>
                <li class="list-group-item"><a href="https://twitter.com/SumitPatil_321" target="_blank">
                    Twitter</a></li>
                
            </ul>

        </div>
    </div>