<% layout('layouts/boilerplate')%>
    <style>
        #intro {
            background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
            height: 644px;
            width: 1536px;
            margin-left: 0px;
            padding-left: 0px;
            margin-bottom: 0px;
            margin-top: 0px;
            padding-bottom: 0px;
        }

        .navbar .nav-link {
            color: #fff !important;
        }
    </style>

    <div id="intro" class="bg-image shadow-2-strong">
       
    </div>
   
    