<% layout('layouts/boilerplate')%>
   <div class="container  mt-3 ml-3">
      <h1 class="ml-3">
         Projects
      </h1>
      <div class="row mb-3">



         <div class="col-5 offset-0 card mt-3 mb-1" style="width: 400px;">
            <img
               src="../../images\68747470733a2f2f6d69726f2e6d656469756d2e636f6d2f6d61782f323536302f312a64746d7375544d715276597a6b5543533235744c44412e6a706567.jpeg"
               class="card-img-top" style="width:380px;height:300px;"alt="...">
            <div class="card-body">
               <h5 class="card-title">Graph Template Library</h5>
               <p class="card-text">Defines container template classes to study graphs in C++</p>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item">Graph template library to study graphs in C++</li>
               <li class="list-group-item">Data structures for Graphs, Digraphs and Weighted Graphs</li>
               <li class="list-group-item">Many standard graph algorithms</li>
               
            </ul>
            <div class="card-body">
               <a href="https://github.com/Karanraj06/Graph-Template-Library" target="_blank"  >GitHub</a>
            </div>
         </div>

         <div class="col-5 offset-1 card mt-3" style="width: 400px;">
            <img src="../../images/Artificial-Intelligence-5.jpg" class="card-img-top" style="width:380px;height:300px;"alt="...">
            <div class="card-body">
               <h5 class="card-title">Personal Website</h5>
               <p class="card-text">Webisite on which, You currently are</p>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item">HTML, CSS, Bootstrap</li>
               <li class="list-group-item">JavaScript, NodeJs, Express</li>
               <li class="list-group-item">MongoDB, Mongoose</li>
              
            </ul>
            <div class="card-body">
               <a href="https://github.com/SumitPatil0404/Personal-Website" target="_blank">GitHub</a>
               
            </div>
         </div>
      </div>

   </div>